section{
    padding-top: 113px;
    position: relative;
}

section::before{
    z-index: -1;
    content: '';
    font-size: 70px;
    color: gray;
    opacity: 0.25;
    position: absolute;
    font-weight: 700;
    top: 10px;
    left: 10px;
}

.navbar{
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

.about-exp-item-detail{
    display: none;
}

.home h1{
    font-size: 72px;
}

.home h3{
    font-size: 48px;
}

.btn{
    border: 3px solid black;
    border-radius: 24px;
}

.btn:hover, .btn.active{
    border: 3px solid black;
    background-color: black;
    color: white;
}

.home img{
    width: 100%;
}

.home .arrow img{
    width: 60px;
}

.about::before{
    content: 'About';
}

.about-exp-item{
    margin-top: 32px;
}

.about-exp-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work::before{
    content: 'Work';
}

.work-image-items{
    position: relative;
}

.work-image-items:hover::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 16px;
}

.work-img img{
    width: 100%;
}

#work-1:hover::after{
    content: 'Web Project';
}

#work-1{
    grid-area: work-1;
}

#work-2:hover::after{
    content: 'Web Project';
}

#work-2{
    grid-area: work-2;
}

#work-3:hover::after{
    content: 'Web Project';
}


#work-3{
    grid-area: work-3;
}

.contact::before{
    content: 'Contact';
}

.contact-form{
    border: 1px solid black;
    padding: 64px 32px ;
}

.form-header{
    margin-top: 34px;
}

.contact{
    margin-bottom: 128px;
}

.form-label{
    font-weight: 700;
}

#animasi{
    animation: 2s upDown infinite;
}

@media only screen and (max-width: 768px){

    .home img{
       width: 50%;
    }
}

@media only screen and (max-width: 576px){
    section::before{
        font-size: 64px;
    }
}

@media only screen and (max-width: 421px){
    
    .items-icon{
        width: 100%;
    }
}

@media only screen and (max-width: 325px){
    
    .items-icon{
        width: 110px;
    }
}

@keyframes upDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}